<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nate.socialqs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityLogin"
            android:label="@string/title_activity_main_activity_login" >
        </activity>
        <activity
            android:name=".MainActivitySignup"
            android:label="@string/title_activity_main_activity_signup" >
        </activity>
        <activity
            android:name=".LoginSuccessActivity"
            android:label="@string/title_activity_login_success" >
        </activity>
        <activity
            android:name=".SignupSuccessActivity"
            android:label="@string/title_activity_signup_success" >
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".AskQuestionActivity"
            android:label="@string/title_activity_ask_question" >
        </activity>
    </application>

</manifest>
